
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Recent Posts</th>
                            </tr>
                        </thead>
                        {{#each}}
                        <tr>
                            <td>
                                {{#link-to 'post' this}}
                                    {{title}} <small class="muted">By {{author.name}}</small>
                                {{/link-to}}
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            <div class="col-md-9">
                {{outlet}}
            </div>
            </div>
        </div>

